/*=========================================
-----------TABLE OF CONTENT----------------

1. Global styles

2. Typography

3. Components 


=========================================*/

/*=========================================
===========================================
=========================================*/

// 1. Global styles
.main-section__wrapper,
.background__wrapper,
.background__picture,
.loading__cover,
.home-content__wrapper,
.portrait__photo,
.portrait__photo-image,
.main-section__title,
.description-card__wrapper,
.description__card--hobby,
.logo__image,
.figcaption,
.projects-examples,
.project-example__description--hover,
.project__thumb,
.project-description__buttons--wrapper,
.description__card--contact,
.footer,
.footer__wrapper,
.main-section__wrapper--vintage,
.background__wrapper--vintage
.background__picture--vintage,
.loading__cover--vintage,
.home-content__wrapper--vintage,
.portrait__photo--vintage,
.portrait__photo-image--vintage,
.main-section__title--vintage,
.description-card__wrapper--vintage,
.description__card--hobby--vintage,
.logo__image--vintage,
.figcaption--vintage,
.projects-examples--vintage,
.project-example__description--hover--vintage,
.project__thumb--vintage,
.project-description__buttons--wrapper--vintage,
.description__card--contact--vintage,
.footer--vintage,
.footer__wrapper--vintage {
  width: 100%;
}

// 2. Typography
.description__text {
  line-height: 2rem;
}
.internal-link {
  font-style: italic;
  color: $lighPinkMainColor;
  text-decoration: none;
}
.span__bold {
  font-weight: bold;
}
// 3. Components

.main-section__wrapper {
  min-height: 100vh;
  margin: 0 0 5rem 0;
  padding-top: 4.5rem;
  background: rgba(249, 249, 249, 0.5);
  border-radius: 30px;
  border-left: 3px solid $lighPinkMainColor;
  box-shadow: $innerShadow;
  overflow: hidden;
  &.main-section__wrapper:last-child {
    margin: 0;
  }
  .main-section__title {
    padding: 1rem 0 1rem 2rem;
  }
}

.style-switch-button__wrapper {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;

  .style-switch-button {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .style-switch-button__label {
    width: 4rem;
    height: 2rem;
    display: block;
    position: relative;
    cursor: pointer;
    background: rgb(191, 255, 191);
    border-radius: 1rem;
    text-indent: -9999px;
    &::after {
      content: "";
      position: absolute;
      top: 0.25rem;
      left: 0.25rem;
      width: 1.5rem;
      height: 1.5em;
      border-radius: 1.5rem;
      background: $mainBodyColor;
      transition: 0.3s;
    }
  }
  .style-switch-button:checked + .style-switch-button__label {
    background: $lighPinkMainColor;
    transition: 0.5s;
  }
  .style-switch-button:checked + .style-switch-button__label::after {
    left: calc(100% - 0.25rem);
    transform: translateX(-100%);
  }
  .style-switch-button__label:active::after {
    width: 2rem;
  }
  // below to be changed
  p {
    padding-left: 1rem;
  }
}
// above to be changed

.loading__cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-image: linear-gradient(to right, $mainBodyColor, $purpleMainColor);
  background-size: 400%;
  background-position: left;
  z-index: 10000;
  opacity: 1;
  animation: showUp 1s ease-in;
  .loading__textAndCircle-wrapper {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    .loading__circle {
      box-sizing: border-box;
      box-shadow: 0px 2px 5px black;
      border-radius: 50%;
      width: 90px;
      height: 90px;
      animation: spin 2s linear infinite;
    }
    .loading__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $lighPinkMainColor;
      animation: textFlash 3s infinite;
      opacity: 1;
    }
  }
}
// GENERAL *********************************************

// WELCOMING PAGE***************************************
.background__wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: $deviceHeight;
  picture{
    height: inherit;
  .background__picture {
    height: inherit;
    position: fixed;
    top: -20%;
    left: -18%;
    opacity: 0.2;
    transform: rotate(15deg);
    transform-origin: 0;
    animation: wobble 15s infinite;
  }
}
}
.home-content__wrapper {
  position: absolute;
  height: $deviceHeight;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  .portrait__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .portrait__photo-bg {
      position: relative;
      height: 25vw;
      max-height: 680px;
      width: 25vw;
      max-width: 680px;
      background-color: transparent;
    }
    .portrait__photo {
      position: relative;
      top: 0;
      left: 0;
      height: 80%;
      transform: translateY(40%);
      border-radius: 30px;
      background: $mainBodyColor;
      .portrait__photo-image {
        position: inherit;
        transform: translateY(-42%);
        border-radius: 30px;
      }
    }
  }
  .home-text__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
    animation: showUp 2s ease-in;
    .home-text__container {
      text-align: center;
      border-left: 5px solid $lighPinkMainColor;
      padding: 0 0 0 0.5rem;
    }
  }
}
// WELCOMING PAGE***************************************

// ABOUT-ME PAGE****************************************

.description-card__wrapper {
  position: relative;
  font-family: $mainFont;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .description__header {
    padding: 0 0 1rem 0;
    .header__text {
      font-weight: bold;
    }
  }
  .description__card {
    padding: 1rem;
  }
  .description__card--flex {
    width: 100rem;
    padding: 1rem 2rem;
    .knowledge__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-top: 1rem;
      .logo__container {
        width: 5rem;
        padding: 0.5rem;
        .logo__image {
          transition: $transitionDurationHalfSec;
          &:hover {
            transform: scale(1.2);
            transition: $transitionDurationHalfSec;
            filter: drop-shadow(0px 0px 3px rgb(0, 0, 0));
          }
        }
        .figcaption {
          background: $lighPinkMainColor;
          color: $colorWhite;
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }
}
// ABOUT-ME PAGE ****************************************

// PROJECTS PAGE ****************************************
.projects-examples {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .project-example__card {
    position: relative;
    width: 16rem;
    height: 16rem;
    border-radius: 2rem;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2),
      -6px -6px 15px 0 rgba(255, 255, 255, 0.5),
      10px 10px 10px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 1em;
    .project-example__description--hover {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      color: $colorWhite;
      opacity: 0;
      transition: 0.8s;
      &:hover {
        background: $purpleMainColor;
        opacity: 0.8;
        transition: 0.8s;
      }
    }
    .project__thumb {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .project-description__buttons--wrapper {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      .project-description__button {
        width: 49%;
        height: 3rem;
        opacity: 1;
        border: none;
        box-shadow: $outerShadow;
        font-family: $mainFont;
        font-size: 1em;
        text-shadow: 1px 1px 3px $lighPinkMainColor;
        cursor: pointer;
      }
    }
  }
}
// PROJECTS PAGE ****************************************

// CONTACT PAGE *****************************************
.description__card--contact {
  display: flex;
  justify-content: center;
  overflow: hidden;
  .card {
    width: 75%;
    .card__text {
      font-family: $mainFont;
    }
  }
}
.main-section__wrapper--contact {
  min-height: 40vh;
  .plant__image {
    position: relative;
    width: 15%;
    left: 80%;
    transform: translateY(20%);
    filter: drop-shadow(7px 7px 2px $blackOp06);
  }
}
// CONTACT PAGE *****************************************

// FOOTER ***********************************************
.footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  background: $menuBackgroundColor;
  .footer__wrapper {
    .footer__text {
      width: inherit;
      font-family: $mainFont;
      font-size: 0.7rem;
      color: $colorWhite;
      text-align: center;
    }
  }
}
// FOOTER ***********************************************

/*=========================================
===========================================
=========================================*/
.main-section__wrapper--vintage {
  min-height: 100vh;
  margin: 0 0 4rem 0;
  background: transparent;
  border-radius: 0 1rem 1rem 0;
  border-top: 0.5rem solid $yellowMainColor;
  border-right: 0.5rem solid $orangeMainColor;
  border-left: none;
  box-shadow: none;
  &.main-section__wrapper--vintage:last-child {
    min-height: 35vh;
    height: 50vh;
  }
  .main-section__title--vintage {
    // padding: 1rem 0 1rem 2rem; to be checked !!!!!!!!!!!!!!!!!!!!
  }
}
// GENERAL *********************************************
.internal-link--vintage {
  font-style: italic;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
// WELCOMING PAGE***************************************
.background__wrapper--vintage {
  background: linear-gradient(
    $mainBodyColor 0 50vh,
    $yellowMainColor 0 60vh,
    $orangeMainColor 0 70vh,
    $lighPinkMainColor 0 80vh,
    $pinkMainColor 0 90vh,
    $purpleMainColor 0 100vh
  );
  .background__picture--vintage {
    display: none;
  }
}
.home-content__wrapper--vintage {
  position: absolute;
  display: flex;
  justify-content: space-around;
  .portrait__wrapper--vintage {
    .portrait__photo-bg--vintage {
      background-color: $colorWhite;
      box-shadow: 0px -10px 20px rgb(177, 177, 177);
      border-radius: 50%;
      overflow: hidden;
    }
    .portrait__photo--vintage {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: none;
      .portrait__photo-image--vintage {
        width: 75%;
        transform: translate(10%, -30%);
        border-radius: 0;
      }
    }
  }
  .home-text__wrapper--vintage {
    .home-text__container--vintage {
      border: none;
      padding: none;
    }
  }
}
// WELCOMING PAGE***************************************
// ABOUT-ME PAGE****************************************
.main-section__title--vintage {
  padding: 1rem 0 1rem 1rem;
  .header__main--vintage {
    padding-left: 0.5rem;
  }
}
.description-card__wrapper--vintage {
  flex-wrap: wrap;
  align-items: center;
  .description__card--flex--vintage {
    padding: 1rem;
  }
}
.description-card__wrapper--contact--vintage {
  padding: 1rem;
}
// ABOUT-ME PAGE ****************************************
// PROJECTS PAGE ****************************************
.projects-examples--vintage {
  .project-example__card--vintage {
    border-radius: 1rem;
    box-shadow: 0 0 20px $lighPinkMainColor;
    .project-description__buttons--wrapper--vintage {
      .project-description__button--vintage {
        background: $yellowMainColor;
        font-family: $mainBigHeadersFont;
        text-shadow: 1px 1px 1px $pinkMainColor;
      }
    }
  }
  // PROJECTS PAGE ****************************************
  // CONTACT PAGE *****************************************


  // ---------------- need to be added!!!!!!!
  
  
  // CONTACT PAGE *****************************************
  // FOOTER ***********************************************
  .footer--vintage {
    background: $menuBackgroundColor; //should be green
    .footer__wrapper--vintage {
      width: 100%;
      .footer__text--vintage {
        font-family: $regularTextFont; // should be vintage
        font-weight: bold;
      }
    }
  }
}
// ANIMATIONS *******************************************
@keyframes wobble {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

@keyframes showUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes textFlash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
