@import "./variables";
// tymczasowe
.project__thumb,
.description__tiger-image {
  width: 15%;
  max-width: 250px;
}
// GENERAL *********************************************
.main-section__wrapper {
  padding-top: 4.5em;
  margin: 0 0 4em 0;
  min-height: 100vh;
  width: 100%;
  border-radius: 50px;
  background: $mainBodyColor;
  box-shadow: $innerShadow;
  &.main-section__wrapper:last-child {
    margin: 0;
  }
}
// GENERAL *********************************************

// WELCOMING PAGE***************************************
.background__wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: $deviceHeight;
  width: 100%;
  .background__picture {
    height: inherit;
    position: fixed;
    width: 100%;
    top: -20%;
    left: -15%;
    opacity: 0.2;
    transform: rotate(15deg);
    transform-origin: 0;
    animation: wobble 15s infinite;
  }
  picture {
    height: inherit;
  }
}
.home-content__wrapper {
  position: absolute;
  height: $deviceHeight;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;

  .portrait__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .portrait__photo-bg {
      position: relative;
      height: 25vw;
      max-height: 680px;
      width: 25vw;
      max-width: 680px;
      background-color: $mainBodyColor;
      box-shadow: $outerShadow;
      border-radius: 50%;
    }
    .portrait__photo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      .portrait__photo-image {
        width: 100%;
      }
    }
  }
  .home-text__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
    animation: showUp 3.5s ease-in;
    .home-text__container {
      text-align: center;
      border-left: 5px solid $lighPinkMainColor;
      padding: 0 0 0 0.5em;
    }
  }
}
// WELCOMING PAGE***************************************

// ABOUT-ME PAGE****************************************
.main__content {
  .main-section__wrapper {
    border-left: 4px solid $lighPinkMainColor;
    .main-section__title {
      width: 100%;
      padding: 1em 0 1em 1em;
      .header__main {
        padding-left: 0.5em;
      }
    }
    .description-card__wrapper,
    .description__card--hobby {
      position: relative;
      font-family: $mainFont;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(12, minmax(1em, 1fr));
      grid-template-rows: repeat(3, auto);
      row-gap: 1em;
      align-items: center;
      .description__header {
        grid-column: 2/12;
        grid-row: 1/2;
        .header__text {
          font-weight: bold;
        }
      }
      .description__card {
        grid-column: 2/8;
        grid-row: 2/3;
      }
      .description__tiger-image {
        grid-column: 9/12;
        grid-row: 2/3;
        width: 100%;
        filter: drop-shadow(10px 15px 3px $lighPinkMainColor);
      }
      .description__card--knowledge {
        grid-column: 2/12;
        grid-row: 3/4;
        .knowledge__list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          padding-top: 1em;
          .logo__container {
            width: 5em;
            padding: 0 0.5em 0 0.5em;
            .logo__image {
              width: 100%;
              transition: $transitionDurationHalfSec;
              &:hover {
                transform: scale(1.2);
                transition: $transitionDurationHalfSec;
                filter: drop-shadow(0px 0px 3px rgb(0, 0, 0));
              }
            }
            .figcaption {
              width: 100%;
              background: $lighPinkMainColor;
              color: $colorWhite;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
// ABOUT-ME PAGE ****************************************

// PROJECTS PAGE ****************************************
.projects-examples {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .project-example__card {
    position: relative;
    width: 16em;
    height: 16em;
    border-radius: 2em;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2),
      -6px -6px 15px 0 rgba(255, 255, 255, 0.5),
      10px 10px 10px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 1em;
    .project-example__description--hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: $colorWhite;
      opacity: 0;
      transition: 0.8s;
      &:hover {
        background: $purpleMainColor;
        opacity: 0.8;
        transition: 0.8s;
      }
    }
    .project__thumb {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
    }
    .project-description__buttons--wrapper {
      width: 100%;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      .project-description__button {
        width: 49%;
        height: 3em;
        opacity: 1;
        border: none;
        box-shadow: $outerShadow;
        font-family: $mainFont;
        font-size: 1em;
        text-shadow: 1px 1px 3px $lighPinkMainColor;
        cursor: pointer;
      }
    }
  }
}
// PROJECTS PAGE ****************************************

// CONTACT PAGE *****************************************
.description__card--contact {
  width: 100%;
  display: flex;
  justify-content: center;
  .card {
    width: 75%;
    .card__text {
      font-family: $mainFont;
    }
  }
}
// CONTACT PAGE *****************************************
.section__contact {
  position: relative;
  min-height: 60vh;
  overflow: hidden;
  .plant__image {
    position: absolute;
    left: 80%;
    bottom: -10%;
    width: 20%;
    max-width: 25%;
    filter: drop-shadow(7px 7px 2px $blackOp06);

  }
}
// CONTACT PAGE *****************************************

// FOOTER ***********************************************
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: $menuBackgroundColor;
  .footer__wrapper {
    width: 100%;
    .footer__text {
      width: inherit;
      font-family: $mainFont;
      font-size: 0.7em;
      color: $colorWhite;
      text-align: center;
    }
  }
}
// FOOTER ***********************************************

// ANIMATIONS *******************************************
@keyframes wobble {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

@keyframes showUp {
  from { opacity: 0};
  to { opacity: 1};
}