@import "./variables";

.background__wrapper {
  position: relative;
  top: 0;
  left: 0;
  z-index: -9999;
  height: $deviceHeight;
  width: 100%;
  .background__picture {
    height: inherit;
    width: 100%;
  }
  picture {
    position: absolute;
    height: inherit;
  }
}
.portrait__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: $deviceHeight;
  width: 100%;
}
.portrait__photo-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-45%);
  width: 50%;
  z-index: 10;
}
//  Phones and tablets
@media (max-width: 1024px) {
  .portrait__photo-bg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 50vw;
    width: 50vw;
    background-color: $colorWhite;
    box-shadow: 0px -10px 20px rgb(177, 177, 177);
    border-radius: 50%;
  }
  .portrait__photo-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-45%);
    width: 50%;
    z-index: 10;
  }
  .homeText {
    position: absolute;
    top: 0;
    left: 0;
    height: $deviceHeight;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .homeText__wrapper {
      font-family: "Bungee Inline", cursive;
      height: 60vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .test {
        text-align: center;
      }
      .test2 {
        text-align: center;
        color: $colorWhite;
      }
    }
  }
  .aboutMe {
    height: 100vh;
  }
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}