@import "./variables";
.main__content {
  padding: 0 15% 0 15%;
}
// SECTION PROJEKTY
.projects-examples {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .project-example__card {
    position: relative;
    width: 16em;
    height: 16em;
    box-sizing: border-box;
    border-radius: 2em;
    box-shadow: 0 0 20px $lighPinkMainColor;
    overflow: hidden;
    margin: 1em;
    .project-example__description--hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: $colorWhite;
      opacity: 0;
      transition: 0.8s;
      &:hover {
        background: $purpleMainColor;
        opacity: 0.8;
        transition: .8s;
      }
    }
    .project__thumb {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
    }
    .project-description__buttons--wrapper {
      width: 100%;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      .project-description__button {
        width: 49%;
        height: 3em;
        opacity: 1;
        border: none;
        background: $yellowMainColor;
        font-family: $mainBigHeadersFont;
        font-size: 1em;
        text-shadow: 1px 1px 1px $pinkMainColor;
        cursor: pointer;
      }
    }
  }
}
// SECTION CONTACT
.description__card--contact {
  width: 100%;
  display: flex;
  justify-content: center;
  .card{
    width: 75%;
    .card__text {
      font-family: $regularTextFont;
    }
  }
}
@media (orientation: landscape) {
  .portrait__photo-image {
    width: 10%;
  }
}
//  Phones and tablets
@media (max-width: 1023.98px) {
  .portrait__photo-bg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 50vw;
    width: 50vw;
    background-color: $colorWhite;
    box-shadow: 0px -10px 20px rgb(177, 177, 177);
    border-radius: 50%;
  }
  .portrait__photo-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-45%);
    width: 50%;
    z-index: 10;
  }
  .home-text__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: $deviceHeight;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .home-text__container {
      font-family: $mainBigHeadersFont;
      height: 60vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .title-main,
      .title-name {
        text-align: center;
      }
      .title-name {
        color: $colorWhite;
      }
    }
  }

  // SECTION O MNIE
  .main__content {
    padding: 0 5% 0 5%;
    .main-section__wrapper {
      box-sizing: border-box;
      min-height: 100vh;
      width: 100%;
      padding-top: 3.5em;
      .main-section__title {
        box-sizing: border-box;
        width: 100%;
        padding: 1em 0 1em 1em;
      }
      .description-card__wrapper,
      .description__card--hobby {
        position: relative;
        font-family: $regularTextFont;
        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, minmax(1em, 1fr));
        grid-template-rows: repeat(3, auto);
        row-gap: 1em;
        align-items: center;
        .description__header {
          grid-column: 2/12;
          grid-row: 1/2;
          .header__text {
            font-weight: bold;
          }
        }
        .description__card {
          grid-column: 2/8;
          grid-row: 2/3;
        }
        .description__tiger-image {
          grid-column: 8/12;
          grid-row: 2/3;
          width: 100%;
          filter: drop-shadow(10px 15px 3px $lighPinkMainColor);
        }
        .description__card--hobby {
          grid-column: 2/12;
          grid-row: 3/4;
          .description__header--hobby {
            grid-column: 1/2;
            grid-row: 1/2;
          }
          .hobby__list {
            grid-column: 3/9;
            grid-row: 2/3;
          }
        }
      }
    }
  }
}
// FOOTER
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: $menuBackgroundColor;
  .footer__wrapper {
    width: 100%;
    .footer__text {
      width: inherit;
      font-family: $mainBigHeadersFont;
      font-size: 0.8em;
      color: $colorWhite;
      text-align: center;
    }
  }
}

@media (orientation: landscape) {
  .portrait__photo-bg {
    height: $deviceHeight/3;
    width: $deviceHeight/3;
  }
  .portrait__photo-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-45%);
    width: 20%;
    z-index: 10;
  }
}

// Laptops up to 1920px width
@media (min-width: 1024px) and (max-width: 1920px) {
  .portrait__photo-bg {
    position: relative;
    top: 50%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
    height: 25vw;
    width: 25vw;
    background-color: $colorWhite;
    box-shadow: 0px -10px 20px rgb(177, 177, 177);
    border-radius: 50%;
  }
  .portrait__photo-image {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateX(-50%) translateY(-45%);
    width: 25%;
    z-index: 10;
  }
  .home-text__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: $deviceHeight;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .home-text__container {
      font-family: $mainBigHeadersFont;
      height: 25vh;
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .title-main,
      .title-name {
        width: 100%;
        text-align: right;
      }
      .title-name {
        color: $colorWhite;
      }
    }
  }
}
@media (min-width: 1921px) {
  .portrait__wrapper {
    display: grid;
    grid-template-columns: 7.5% 7.5% 35% 35% 7.5% 7.5%;
    .portrait__photo-bg {
      grid-column: 3/4;
      height: 15vw;
      width: 15vw;
      background: $colorWhite;
      border-radius: 50%;
      align-self: center;
      box-shadow: 0px -10px 20px rgb(177, 177, 177);
    }
    .portrait__photo {
      position: absolute;
      top: 50%;
      grid-column: 3/4;
      width: 50%;
      .portrait__photo-image {
        position: relative;
        left: 45%;
        width: 100%;
      }
    }
  }
  .home-text__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 7.5% 7.5% 35% 35% 7.5% 7.5%;
  }
}
