@media (max-width: 500px) {
  .home-content__wrapper {
    .portrait__wrapper {
      .portrait__photo-bg {
        height: 50vw;
        width: 50vw;
      }
    }
  }

.main-section__wrapper--contact{
  .plant__image {
      width: 30%;
      left: 70%;
      bottom: -4%;
    }
  }
}
@media (min-width: 501px) {
  .main__content {
    .main-section__wrapper {
      .description-card__wrapper {
        .description__header {
          font-size: 1.3em;
        }
      }
      .description__text {
        font-size: 1.2em;
      }
    }
  }
}
@media (min-width: 501px) and (max-width: 1024px) {
  .home-content__wrapper {
    .portrait__wrapper {
      .portrait__photo-bg {
        height: 40vw;
        width: 40vw;
      }
    }
  }
}
// NAVIGATION BAR ******************************************
@media (max-width: 1024px) {
  .nav__wrapper {
    width: 100vw;
    height: 0;
    right: 0;
    .navigation {
      margin: 0;
      padding: 0.5em;
      position: fixed;
      top: -$deviceWidth * 10;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: $mainBodyColor;
      transition: $transitionDurationHalfSec * 1.5;
      .navigation__item {
        width: 20vw;
        height: 20vw;
        display: flex;
        justify-content: center;
        align-content: center;
        .navigation__link {
          font-size: 1em;
          width: 100%;
          color: $mainFontColor;
          text-decoration: none;
          text-align: center;
        }
        .navigation__link--active {
          color: rgb(0, 0, 0);
          text-decoration: line-through;
          transform-origin: $transitionDurationHalfSec;
        }
      }
    }
    .navigation--show {
      top: 1em;
      transition: $transitionDurationHalfSec;
      opacity: 1;
    }
    //  Hamburger menu button
    .navigation__mobile-button {
      position: fixed;
      display: block;
      cursor: pointer;
      margin: 0;
      top: 2em;
      right: 2em;
      border: none;
      background: rgb(0, 0, 0);
      width: $deviceWidth/10;
      min-width: 10px;
      max-width: 35px;
      height: 3px;
      transition: $transitionDurationHalfSec;
      &::before,
      &::after {
        position: absolute;
        left: 0;
        content: "";
        width: inherit;
        min-width: inherit;
        max-width: inherit;
        height: inherit;
        background: inherit;
      }
      &::before {
        top: -6px;
        transition: $transitionDurationHalfSec;
      }
      &::after {
        top: 6px;
        transition: $transitionDurationHalfSec;
      }
    }
    .navigation__mobile-button--on {
      transform: translateX($deviceWidth/44);
      transition: $transitionDurationHalfSec;
      &::before,
      &::after {
        transform: translateX(-$deviceWidth/44);
      }
    }
  }
  // Hamburger menu button end

  .home-content__wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    .home-text__wrapper {
      width: 100%;
      padding: 0 0 4em 0;
      .home-text__container {
        border-left: none;
        border-bottom: 3px solid $lighPinkMainColor;
      }
    }
  }
  .main__content {
    padding: 2em 5% 2em 5%;
    .main-section__wrapper {
      padding-top: 3em;
      .description-card__wrapper {
        flex-wrap: wrap;
      }
    }
  }
}
@media (min-width: 1024px) {
  .footer {
    .footer__wrapper {
      .footer__text {
        font-size: 1em;
      }
    }
  }
}
@media (min-width: 1440px) {
  * {
    font-size: 1.5rem;
  }
  .home-content__wrapper {
    .home-text__wrapper {
      .title-main,
      .title-name {
        font-size: 1.8em;
      }
    }
  }
  .main-section__title{
    .header__main{
      .title-main{
        font-size: 2rem;
      }
    }
  }
  .description__card{
    .description__header{
      .header__text{
        font-size: 2rem;
      }
    }
  }
}
@media (min-width: 1920px) {
  .nav__wrapper {
    .navigation {
      .navigation__item {
        .navigation__link {
          font-size: 1.5rem;
        }
      }
    }
  }

  .main-section__title{
    .header__main{
      .title-main{
        font-size: 2.5rem;
      }
    }
  }
  .description__card{
    .description__header{
      .header__text{
        font-size: 2rem;
      }
      .description__text{
        font-size: 1.5rem;
      }
    }
  }
}

@media (orientation: landscape) {
  .nav__wrapper {
    .navigation {
      .navigation__item {
        .navigation__link {
          font-size: 1.5rem;
        }
      }
    }
  }
  .home-content__wrapper {
    .home-text__wrapper {
      padding: 0 0 2em 0;
    }
  }
  .home-content__wrapper {
    .portrait__wrapper {
      .portrait__photo-bg {
        height: 20vw;
        width: 20vw;
      }
    }
  }
  .section__contact {
    .plant__image {
      left: 80%;
      bottom: -18%;
    }
  }
}
