@import "./variables.scss";

.navigation__mobile-button {
  display: none;
}
.nav__wrapper {
  font-family: "Bungee Inline", cursive;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  z-index: 9999;
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .navigation {
    margin: 0;
    padding: 0;
    position: fixed;
    top: -$deviceWidth * 10;
    opacity: 0;
    box-sizing: border-box;
    list-style: none;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $menuBackgroundColor;
    transition: $transitionDurationHalfSec;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  }
  .navigation__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: .5em 0 .5em 0;
    .navigation__link {
      font-size: 1.2em;
      width: 100%;
      color: $colorWhite;
      padding: 0.5em 1em 0.5em 1em;
      text-decoration: none;
      text-align: center;
    }
  }
  .navigation--show {
    top: 0;
    transition: $transitionDurationHalfSec;
    opacity: 1;
  }
  //  Hamburger menu button  //
  .navigation__mobile-button {
    position: fixed;
    display: block;
    margin: 0;
    top: 2em;
    right: 2em;
    border: none;
    background: rgb(0, 0, 0);
    width: $deviceWidth/17;
    min-width: 10px;
    max-width: 35px;
    height: 3px;
    transition: $transitionDurationHalfSec;
    &::before,
    &::after {
      position: absolute;
      left: 0;
      content: "";
      width: inherit;
      min-width: inherit;
      max-width: inherit;
      height: inherit;
      background: inherit;
    }
    &::before {
      top: -6px;
      transition: $transitionDurationHalfSec;
    }
    &::after {
      top: 6px;
      transition: $transitionDurationHalfSec;
    }
  }
  .navigation__mobile-button--on {
    transform: translateX($deviceWidth/44);
    transition: $transitionDurationHalfSec;
    background: $colorWhite;
    &::before,
    &::after {
      transform: translateX(-$deviceWidth/44);
    }
  }
  // Hamburger menu button end  //
}

// Large devices (desktops, less than 1200px)
@media (min-width: 767.99px) {
  .navigation {
    position: fixed;
    box-sizing: border-box;
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    width: inherit;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: $menuBackgroundColor;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    .navigation__item:last-child {
      margin: 0 1em 0 0;
    }
    .navigation__item {
      padding: 0.5em;
      .navigation__link {
        font-size: 1.5em;
        color: $colorWhite;
        width: 100%;
        text-decoration: none;
        &:hover {
          text-shadow: -4px -8px 2px $yellowMainColor,
            -8px -16px 4px $purpleMainColor;
          transition: $transitionDurationHalfSec;
        }
      }
      .navigation__link--active{
        text-shadow: -4px -8px 2px $yellowMainColor,
        -8px -16px 4px $purpleMainColor;
      }
    }
  }
}
