$deviceWidth: 100vw;
$deviceHeight: 100vh;
$transitionDurationHalfSec: 0.5s;

// Fonts
$navigationFont: "Bungee Inline", cursive; 
$mainBigHeadersFont: 'Bevan', cursive;
$regularTextFont: 'Zilla Slab', serif;
// colors
$mainBodyColor: rgb(255, 255, 210);
$yellowMainColor: rgb(253, 195, 49);
$orangeMainColor: rgb(254, 87, 34);
$lighPinkMainColor: rgb(240, 53, 60);
$pinkMainColor: rgb(180, 33, 61);
$purpleMainColor: rgb(103, 28, 59);
$colorWhite: rgb(255, 255, 255);
$menuBackgroundColor: rgb(12, 175, 12);