@import "./variables";
@import "./navigation";
// @import "./homepage";
@import "./vintageStyle";
// @import "./components";

// font-family: 'Zilla Slab', serif;
// Zdjęcie autorstwa Olga Lioncat z Pexels

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Bevan", cursive;
  scroll-behavior: smooth;
}
body{
    background: $mainBodyColor;
}
.main__content{
  position: relative;
  top: 0;
  left: 0;
  padding: 2em 15% 2em 15%;
  background: linear-gradient(45deg,
  $mainBodyColor 0 5vw,
  $pinkMainColor 5vw 15vw,
  $lighPinkMainColor 5vw 25vw,
  $orangeMainColor 5vw 35vw,
  $yellowMainColor 5vw 45vw,
  $mainBodyColor 0 100%);
}
.span__bold{
  font-weight: bold;
}
.internal-link{
  text-decoration: underline;
  color: $purpleMainColor;
  font-weight: bold;
  font-style: italic
}
.footer{
  background: $menuBackgroundColor;
  text-align: center;
  color: $colorWhite;
}
@import "./media";
