.navigation__mobile-button {
  display: block;
}

.nav__wrapper {
  font-family: "Red Hat Display", sans-serif;
  position: fixed;
  right: 1rem;
  width: 10vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
}

.nav__wrapper .navigation {
  position: relative;
  padding: 0.5rem 0 0.5rem 0;
  width: inherit;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f9f9f9;
  border-radius: 30px;
  -webkit-box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.4), inset -3px -3px 10px rgba(255, 255, 255, 0.3);
          box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.4), inset -3px -3px 10px rgba(255, 255, 255, 0.3);
}

.nav__wrapper .navigation .navigation__item {
  margin: 0.5rem;
  background: #efefef;
  -webkit-box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), -6px -6px 15px 0 rgba(255, 255, 255, 0.5), 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), -6px -6px 15px 0 rgba(255, 255, 255, 0.5), 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
}

.nav__wrapper .navigation .navigation__item .navigation__link {
  font-size: 1rem;
  text-align: center;
  text-shadow: 1px 1px 3px #f0353c;
  color: #636363;
  width: 100%;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav__wrapper .navigation .navigation__item .navigation__link:hover {
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav__wrapper .navigation .navigation__item .navigation__link--active {
  color: black;
  text-decoration: line-through;
  -webkit-transform-origin: 0.5s;
          transform-origin: 0.5s;
}

.nav__wrapper--vintage {
  font-family: arial;
  position: relative;
  width: 100%;
  z-index: 9999;
}

.nav__wrapper--vintage .navigation--vintage {
  position: fixed;
  margin: 0;
  padding: 0.5em 0 0.5em 0;
  width: inherit;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0caf0c;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.nav__wrapper--vintage .navigation--vintage .navigation__item--vintage {
  padding: 0.5em;
}

.nav__wrapper--vintage .navigation--vintage .navigation__item--vintage .navigation__link--vintage {
  font-size: 1.5em;
  color: white;
  width: 50%;
  text-decoration: none;
}

.nav__wrapper--vintage .navigation--vintage .navigation__item--vintage .navigation__link--vintage:hover {
  text-shadow: -4px -8px 2px #fdc331, -8px -16px 4px #671c3b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav__wrapper--vintage .navigation--vintage .navigation__item--vintage .navigation__link--active--vintage {
  text-shadow: -4px -8px 2px #fdc331, -8px -16px 4px #671c3b;
}

/*=========================================
-----------TABLE OF CONTENT----------------

1. Global styles

2. Typography

3. Components 


=========================================*/
/*=========================================
===========================================
=========================================*/
.main-section__wrapper,
.background__wrapper,
.background__picture,
.loading__cover,
.home-content__wrapper,
.portrait__photo,
.portrait__photo-image,
.main-section__title,
.description-card__wrapper,
.description__card--hobby,
.logo__image,
.figcaption,
.projects-examples,
.project-example__description--hover,
.project__thumb,
.project-description__buttons--wrapper,
.description__card--contact,
.footer,
.footer__wrapper,
.main-section__wrapper--vintage,
.background__wrapper--vintage .background__picture--vintage,
.loading__cover--vintage,
.home-content__wrapper--vintage,
.portrait__photo--vintage,
.portrait__photo-image--vintage,
.main-section__title--vintage,
.description-card__wrapper--vintage,
.description__card--hobby--vintage,
.logo__image--vintage,
.figcaption--vintage,
.projects-examples--vintage,
.project-example__description--hover--vintage,
.project__thumb--vintage,
.project-description__buttons--wrapper--vintage,
.description__card--contact--vintage,
.footer--vintage,
.footer__wrapper--vintage {
  width: 100%;
}

.description__text {
  line-height: 2rem;
}

.internal-link {
  font-style: italic;
  font-weight: bold;
  color: #f0353c;
  text-decoration: none;
}

.span__bold {
  font-weight: bold;
}

.main-section__wrapper {
  min-height: 100vh;
  margin: 0 0 5rem 0;
  padding-top: 4.5rem;
  background: rgba(249, 249, 249, 0.5);
  border-radius: 30px;
  border-left: 3px solid #f0353c;
  -webkit-box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.4), inset -3px -3px 10px rgba(255, 255, 255, 0.3);
          box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.4), inset -3px -3px 10px rgba(255, 255, 255, 0.3);
  overflow: hidden;
}

.main-section__wrapper.main-section__wrapper:last-child {
  margin: 0;
}

.main-section__wrapper .main-section__title {
  padding: 1rem 0 1rem 2rem;
}

.style-switch-button__wrapper {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.style-switch-button__wrapper .style-switch-button {
  height: 0;
  width: 0;
  visibility: hidden;
}

.style-switch-button__wrapper .style-switch-button__label {
  width: 4rem;
  height: 2rem;
  display: block;
  position: relative;
  cursor: pointer;
  background: #bfffbf;
  border-radius: 1rem;
  text-indent: -9999px;
}

.style-switch-button__wrapper .style-switch-button__label::after {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background: #f9f9f9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.style-switch-button__wrapper .style-switch-button:checked + .style-switch-button__label {
  background: #f0353c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.style-switch-button__wrapper .style-switch-button:checked + .style-switch-button__label::after {
  left: calc(100% - 0.25rem);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.style-switch-button__wrapper .style-switch-button__label:active::after {
  width: 2rem;
}

.style-switch-button__wrapper p {
  padding-left: 1rem;
}

.loading__cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#f9f9f9), to(#671c3b));
  background-image: linear-gradient(to right, #f9f9f9, #671c3b);
  background-size: 400%;
  background-position: left;
  z-index: 10000;
  opacity: 1;
  -webkit-animation: showUp .5s ease-in;
          animation: showUp .5s ease-in;
}

.loading__cover .loading__textAndCircle-wrapper {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading__cover .loading__textAndCircle-wrapper .loading__circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 5px black;
          box-shadow: 0px 2px 5px black;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.loading__cover .loading__textAndCircle-wrapper .loading__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #f0353c;
  -webkit-animation: textFlash 3s infinite;
          animation: textFlash 3s infinite;
  opacity: 1;
}

.background__wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
}

.background__wrapper picture {
  height: inherit;
}

.background__wrapper picture .background__picture {
  height: inherit;
  position: fixed;
  top: -20%;
  left: -18%;
  opacity: 0.2;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-transform-origin: 0;
          transform-origin: 0;
  -webkit-animation: wobble 15s infinite;
          animation: wobble 15s infinite;
}

.home-content__wrapper {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-content__wrapper .portrait__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-content__wrapper .portrait__wrapper .portrait__photo-bg {
  position: relative;
  height: 25vw;
  max-height: 680px;
  width: 25vw;
  max-width: 680px;
  background-color: transparent;
}

.home-content__wrapper .portrait__wrapper .portrait__photo {
  position: relative;
  top: 0;
  left: 0;
  height: 80%;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  border-radius: 30px;
  background: #f9f9f9;
}

.home-content__wrapper .portrait__wrapper .portrait__photo .portrait__photo-image {
  position: inherit;
  -webkit-transform: translateY(-42%);
          transform: translateY(-42%);
  border-radius: 30px;
}

.home-content__wrapper .home-text__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 49%;
  -webkit-animation: showUp 2s ease-in;
          animation: showUp 2s ease-in;
}

.home-content__wrapper .home-text__wrapper .home-text__container {
  text-align: center;
  border-left: 5px solid #f0353c;
  padding: 0 0 0 0.5rem;
}

.description-card__wrapper {
  position: relative;
  font-family: "Red Hat Display", sans-serif;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.description-card__wrapper .description__header {
  padding: 0 0 1rem 0;
}

.description-card__wrapper .description__header .header__text {
  font-weight: bold;
}

.description-card__wrapper .description__header--centred {
  text-align: center;
}

.description-card__wrapper .description__card {
  padding: 1rem;
}

.description-card__wrapper .description__card--flex {
  width: 100rem;
  padding: 1rem 2rem;
}

.description-card__wrapper .description__card--flex .knowledge__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 1rem;
}

.description-card__wrapper .description__card--flex .knowledge__list .logo__container {
  width: 5rem;
  padding: 0.5rem;
}

.description-card__wrapper .description__card--flex .knowledge__list .logo__container .logo__image {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.description-card__wrapper .description__card--flex .knowledge__list .logo__container .logo__image:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: drop-shadow(0px 0px 3px black);
          filter: drop-shadow(0px 0px 3px black);
}

.description-card__wrapper .description__card--flex .knowledge__list .logo__container .figcaption {
  background: #f0353c;
  color: white;
  text-align: center;
  font-weight: bold;
}

.projects-examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-examples .project-example__card {
  position: relative;
  width: 16rem;
  height: 16rem;
  border-radius: 2rem;
  -webkit-box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), -6px -6px 15px 0 rgba(255, 255, 255, 0.5), 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), -6px -6px 15px 0 rgba(255, 255, 255, 0.5), 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 1em;
}

.projects-examples .project-example__card .project-example__description--hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1em;
  color: white;
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.projects-examples .project-example__card .project-example__description--hover:hover {
  background: #671c3b;
  opacity: 0.8;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.projects-examples .project-example__card .project__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  -webkit-transform: translateX(-16.75%);
          transform: translateX(-16.75%);
}

.projects-examples .project-example__card .project-description__buttons--wrapper {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-examples .project-example__card .project-description__buttons--wrapper .project-description__button {
  width: 49%;
  height: 3rem;
  border: none;
  padding: .75em 0;
  background: #f9f9f9;
  -webkit-box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), -6px -6px 15px 0 rgba(255, 255, 255, 0.5), 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), -6px -6px 15px 0 rgba(255, 255, 255, 0.5), 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
  font-family: "Red Hat Display", sans-serif;
  font-size: 1em;
  text-align: center;
  text-shadow: 1px 1px 3px #f0353c;
  text-decoration: none;
  color: black;
  opacity: 1;
  cursor: pointer;
}

.description__card--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.description__card--contact .card {
  width: 75%;
}

.description__card--contact .card .card__text {
  font-family: "Red Hat Display", sans-serif;
}

.main-section__wrapper--contact {
  min-height: 40vh;
}

.main-section__wrapper--contact .plant__image {
  position: relative;
  width: 15%;
  left: 80%;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-filter: drop-shadow(7px 7px 2px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(7px 7px 2px rgba(0, 0, 0, 0.6));
}

.main-section__wrapper--contact .plant__image--vintage {
  display: none;
}

.footer {
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #636363;
}

.footer .footer__wrapper .footer__text {
  width: inherit;
  font-family: "Red Hat Display", sans-serif;
  font-size: 0.7rem;
  color: white;
  text-align: center;
}

/*=========================================
===========================================
=========================================*/
.main-section__wrapper--vintage {
  min-height: 100vh;
  margin: 0 0 4rem 0;
  background: transparent;
  border-radius: 0 1rem 1rem 0;
  border-top: 0.5rem solid #fdc331;
  border-right: 0.5rem solid #fe5722;
  border-left: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-section__wrapper--vintage.main-section__wrapper--vintage:last-child {
  min-height: 35vh;
  height: 50vh;
}

.internal-link--vintage {
  font-style: italic;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.background__wrapper--vintage {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), color-stop(0, #fdc331), color-stop(0, #fe5722), color-stop(0, #f0353c), color-stop(0, #b4213d), color-stop(0, #671c3b));
  background: linear-gradient(#f9f9f9 0 50vh, #fdc331 0 60vh, #fe5722 0 70vh, #f0353c 0 80vh, #b4213d 0 90vh, #671c3b 0 100vh);
}

.background__wrapper--vintage .background__picture--vintage {
  display: none;
}

.home-content__wrapper--vintage {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home-content__wrapper--vintage .portrait__wrapper--vintage .portrait__photo-bg--vintage {
  background-color: white;
  -webkit-box-shadow: 0px -10px 20px #b1b1b1;
          box-shadow: 0px -10px 20px #b1b1b1;
  border-radius: 50%;
  overflow: hidden;
}

.home-content__wrapper--vintage .portrait__wrapper--vintage .portrait__photo--vintage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: none;
}

.home-content__wrapper--vintage .portrait__wrapper--vintage .portrait__photo--vintage .portrait__photo-image--vintage {
  width: 75%;
  -webkit-transform: translate(10%, -30%);
          transform: translate(10%, -30%);
  border-radius: 0;
}

.home-content__wrapper--vintage .home-text__wrapper--vintage .home-text__container--vintage {
  border: none;
  padding: none;
}

.main-section__title--vintage {
  padding: 1rem 0 1rem 1rem;
}

.main-section__title--vintage .header__main--vintage {
  padding-left: 0.5rem;
}

.description-card__wrapper--vintage {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description-card__wrapper--vintage .description__card--flex--vintage {
  padding: 1rem;
}

.description-card__wrapper--contact--vintage {
  padding: 1rem;
}

.projects-examples--vintage .project-example__card--vintage {
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 20px #f0353c;
          box-shadow: 0 0 20px #f0353c;
}

.projects-examples--vintage .project-example__card--vintage .project-description__buttons--wrapper--vintage .project-description__button--vintage {
  background: #fdc331;
  font-family: 3rem;
  text-shadow: 1px 1px 1px #b4213d;
}

.projects-examples--vintage .footer--vintage {
  background: #0caf0c;
}

.projects-examples--vintage .footer--vintage .footer__wrapper--vintage {
  width: 100%;
}

.projects-examples--vintage .footer--vintage .footer__wrapper--vintage .footer__text--vintage {
  font-family: arial;
  font-weight: bold;
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@-webkit-keyframes showUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes textFlash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textFlash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

html,
body {
  font-family: "Red Hat Display", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #f9f9f9;
}

.main__content {
  position: relative;
  padding: 2em 15% 2em 15%;
  background-image: linear-gradient(-120deg, #f9f9f9 0 40%, #bfffbf 40% 60%, #f9f9f9 40% 100%);
}

.main__content--vintage {
  position: relative;
  top: 0;
  left: 0;
  padding: 2em 15% 2em 15%;
  background: linear-gradient(45deg, #f9f9f9 0 5vw, #b4213d 5vw 15vw, #f0353c 5vw 25vw, #fe5722 5vw 35vw, #fdc331 5vw 45vw, #f9f9f9 0 100%);
}

.span__bold {
  font-weight: bold;
}

@media (max-width: 500px) {
  .home-content__wrapper .portrait__wrapper .portrait__photo-bg {
    height: 50vw;
    width: 50vw;
  }
  .main-section__wrapper--contact .plant__image {
    width: 30%;
    left: 70%;
    bottom: -4%;
  }
}

@media (min-width: 501px) {
  .main__content .main-section__wrapper .description-card__wrapper .description__header {
    font-size: 1.3em;
  }
  .main__content .main-section__wrapper .description__text {
    font-size: 1.2em;
  }
}

@media (min-width: 501px) and (max-width: 1024px) {
  .home-content__wrapper .portrait__wrapper .portrait__photo-bg {
    height: 40vw;
    width: 40vw;
  }
}

@media (max-width: 1024px) {
  .nav__wrapper {
    width: 100vw;
    height: 0;
    right: 0;
  }
  .nav__wrapper .navigation {
    margin: 0;
    padding: 0.5em;
    position: fixed;
    top: -500vw;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f9f9f9;
    -webkit-transition: 0.75s;
    transition: 0.75s;
  }
  .nav__wrapper .navigation .navigation__item {
    width: 20vw;
    height: 20vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .nav__wrapper .navigation .navigation__item .navigation__link {
    font-size: 1em;
    width: 100%;
    color: #636363;
    text-decoration: none;
    text-align: center;
  }
  .nav__wrapper .navigation .navigation__item .navigation__link--active {
    color: black;
    text-decoration: line-through;
    -webkit-transform-origin: 0.5s;
            transform-origin: 0.5s;
  }
  .nav__wrapper .navigation--show {
    top: 1em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 1;
  }
  .nav__wrapper .navigation__mobile-button {
    position: fixed;
    display: block;
    cursor: pointer;
    margin: 0;
    top: 2em;
    right: 2em;
    border: none;
    background: black;
    width: 5vw;
    min-width: 10px;
    max-width: 35px;
    height: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav__wrapper .navigation__mobile-button::before, .nav__wrapper .navigation__mobile-button::after {
    position: absolute;
    left: 0;
    content: "";
    width: inherit;
    min-width: inherit;
    max-width: inherit;
    height: inherit;
    background: inherit;
  }
  .nav__wrapper .navigation__mobile-button::before {
    top: -6px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav__wrapper .navigation__mobile-button::after {
    top: 6px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav__wrapper .navigation__mobile-button--on {
    -webkit-transform: translateX(1.13636vw);
            transform: translateX(1.13636vw);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav__wrapper .navigation__mobile-button--on::before, .nav__wrapper .navigation__mobile-button--on::after {
    -webkit-transform: translateX(-1.13636vw);
            transform: translateX(-1.13636vw);
  }
  .home-content__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-content__wrapper .home-text__wrapper {
    width: 100%;
    padding: 0 0 4em 0;
  }
  .home-content__wrapper .home-text__wrapper .home-text__container {
    border-left: none;
    border-bottom: 3px solid #f0353c;
  }
  .main__content {
    padding: 2em 5% 2em 5%;
  }
  .main__content .main-section__wrapper {
    padding-top: 3em;
  }
  .main__content .main-section__wrapper .description-card__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .footer .footer__wrapper .footer__text {
    font-size: 1em;
  }
}

@media (min-width: 1440px) {
  * {
    font-size: 1.5rem;
  }
  .home-content__wrapper .home-text__wrapper .title-main,
  .home-content__wrapper .home-text__wrapper .title-name {
    font-size: 1.8em;
  }
  .main-section__title .header__main .title-main {
    font-size: 2rem;
  }
  .description__card .description__header .header__text {
    font-size: 2rem;
  }
}

@media (min-width: 1920px) {
  .nav__wrapper .navigation .navigation__item .navigation__link {
    font-size: 1.5rem;
  }
  .main-section__title .header__main .title-main {
    font-size: 2.5rem;
  }
  .description__card .description__header .header__text {
    font-size: 2rem;
  }
  .description__card .description__header .description__text {
    font-size: 1.5rem;
  }
}

@media (orientation: landscape) {
  .nav__wrapper .navigation .navigation__item .navigation__link {
    font-size: 1.5rem;
  }
  .home-content__wrapper .home-text__wrapper {
    padding: 0 0 2em 0;
  }
  .home-content__wrapper .portrait__wrapper .portrait__photo-bg {
    height: 20vw;
    width: 20vw;
  }
  .section__contact .plant__image {
    left: 80%;
    bottom: -18%;
  }
}

@media (min-width: 10px) {
  .navigation--vintage {
    margin: 0;
    padding: 0;
    position: fixed;
    top: -500vw;
    opacity: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    width: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #636363;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  }
  .navigation__item--vintage {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: .5em 0 .5em 0;
  }
  .navigation__item--vintage .navigation__link--vintage {
    font-size: 1.2em;
    width: 100%;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    text-align: center;
  }
  .navigation--show--vintage {
    top: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 1;
  }
  .navigation__mobile-button--vintage {
    position: fixed;
    display: block;
    cursor: pointer;
    margin: 0;
    top: 2em;
    right: 2em;
    border: none;
    background: black;
    width: 5vw;
    min-width: 10px;
    max-width: 35px;
    height: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navigation__mobile-button--vintage::before, .navigation__mobile-button--vintage::after {
    position: absolute;
    height: inherit;
    width: inherit;
    left: 0;
    content: "";
    min-width: inherit;
    max-width: inherit;
    background: inherit;
  }
  .navigation__mobile-button--vintage::before {
    top: -6px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navigation__mobile-button--vintage::after {
    top: 6px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navigation__mobile-button--on--vintage {
    -webkit-transform: translateX(1.13636vw);
            transform: translateX(1.13636vw);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: white;
  }
  .navigation__mobile-button--on--vintage::before, .navigation__mobile-button--on--vintage::after {
    -webkit-transform: translateX(-1.13636vw);
            transform: translateX(-1.13636vw);
  }
}
/*# sourceMappingURL=style.css.map */