@import "./variables";
@import "./navigation";
@import "./homepage";
@import "./aboutpage";

*{
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Bevan", cursive;
  scroll-behavior: smooth;
}
body{
    background: $mainBodyColor;
}
.span__bold{
  font-weight: bold;
}