html, body {
  margin: 0;
  padding: 0;
  font-family: 'Bevan', cursive;
  scroll-behavior: smooth;
}

.navigation__mobile-button {
  display: none;
}

.nav__wrapper {
  font-family: "Bungee Inline", cursive;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  z-index: 9999;
}

@media (max-width: 767.98px) {
  .navigation {
    margin: 0;
    padding: 0;
    position: fixed;
    top: -1000vw;
    opacity: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    width: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #0caf0c;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  }
  .navigation__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 0.5em;
  }
  .navigation__item .navigation__link {
    font-size: 1.2em;
    width: 100%;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    text-align: center;
  }
  .navigation--show {
    top: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 1;
  }
  .navigation__mobile-button {
    position: fixed;
    display: block;
    margin: 2em;
    top: 0;
    right: 0;
    border: none;
    background: black;
    width: 5.88235vw;
    min-width: 10px;
    max-width: 35px;
    height: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navigation__mobile-button::before, .navigation__mobile-button::after {
    position: absolute;
    left: 0;
    content: "";
    width: inherit;
    min-width: inherit;
    max-width: inherit;
    height: inherit;
    background: inherit;
  }
  .navigation__mobile-button::before {
    top: -6px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navigation__mobile-button::after {
    top: 6px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navigation__mobile-button--on {
    -webkit-transform: translateX(2.27273vw);
            transform: translateX(2.27273vw);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: white;
  }
  .navigation__mobile-button--on::before, .navigation__mobile-button--on::after {
    -webkit-transform: translateX(-2.27273vw);
            transform: translateX(-2.27273vw);
  }
}

@media (min-width: 767.99px) {
  .navigation {
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    width: inherit;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #0caf0c;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  }
  .navigation .navigation__item:last-child {
    margin: 0 1em 0 0;
  }
  .navigation .navigation__item {
    padding: 0.5em;
  }
  .navigation .navigation__item .navigation__link {
    font-size: 1.5em;
    color: white;
    width: 100%;
    text-decoration: none;
  }
  .navigation .navigation__item .navigation__link:hover {
    text-shadow: -4px -8px 2px #fdc331, -8px -16px 4px #671c3b;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navigation .navigation__item .navigation__link--active {
    text-shadow: -4px -8px 2px #fdc331, -8px -16px 4px #671c3b;
  }
}

@media (max-width: 575.98px) {
  .background__wrapper {
    position: relative;
    top: 0;
    left: 0;
    z-index: -9999;
    height: 100vh;
    width: 100vw;
  }
  .background__wrapper .background__picture {
    height: 100vh;
    width: 100vw;
  }
  .background__wrapper picture {
    position: absolute;
    height: 100vh;
  }
  .portrait__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }
  .portrait__wrapper .portrait__photo-bg {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    height: 50vw;
    width: 50vw;
    background-color: white;
    -webkit-box-shadow: 0px -10px 20px #b1b1b1;
            box-shadow: 0px -10px 20px #b1b1b1;
    border-radius: 50%;
  }
  .portrait__wrapper .portrait__photo-image {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-45%);
            transform: translateX(-50%) translateY(-45%);
    width: 50%;
    z-index: 10;
  }
  .homeText {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homeText .homeText__wrapper {
    font-family: "Bungee Inline", cursive;
    height: 60vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homeText .homeText__wrapper .test {
    font-size: 1.5em;
    text-align: center;
  }
  .homeText .homeText__wrapper .test2 {
    font-size: 1.2em;
    text-align: center;
    color: white;
  }
  .aboutMe {
    height: 100vh;
  }
}
/*# sourceMappingURL=style.css.map */