@import "./variables";
@import "./navigation";
@import "./homepage";
// font-family: 'Zilla Slab', serif;

*{
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Bevan", cursive;
  scroll-behavior: smooth;
}
body{
    background: $mainBodyColor;
}
.main__content{
  position: relative;
  box-sizing: border-box;
}