@import "./variables";
@import "./navigation";
// @import "./homepage";
@import "./components";

// font-family: 'Zilla Slab', serif;
// Zdjęcie autorstwa Olga Lioncat z Pexels

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
html,
body {
  font-family: 'Red Hat Display', sans-serif;
  scroll-behavior: smooth;
}
body{
    background: $mainBodyColor;
}
.main__content{
  position: relative;
  padding: 2em 15% 2em 15%;
  background: $mainBodyColor;
}
.span__bold{
  font-weight: bold;
}
.internal-link{
  text-decoration: underline;
  color: $purpleMainColor;
  font-weight: bold;
  font-style: italic;
}
@import "./media";
